@import "../main.scss";

.btn-file {
    overflow: hidden;
    width: 100px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nuuk-img-thumbnail {
    width: 300px;
    object-fit: cover;
}

.input-cantidad {
    width: 200px;
}

#image {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

form {
    width: 100%;
}

b-form-select {
    max-width: 400px;
}
