@import "../main.scss";

$background: #1a1a1a;
$top-padding: rwidth(10);
$icon-padding: rwidth(18);
$collapsed-width: rwidth(60) + 2 * $icon-padding;
$expanded-width: 3 * $collapsed-width;
$item-height: rwidth(70);

a {
  color: black;
}

.wrapper {
    display: flex;
}

.material-icons {
    vertical-align: -25%;
}

.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    background-color: $background;
    width: $collapsed-width;
    height: 100vh;
    position: fixed;
    left: 0px;
    padding-top: $top-padding;
}

.sidebar, .sidebar-nav li{
  transition: .2s all ease-in !important;
}

.sidebar + #app-content{
  padding-top: $top-padding;
  padding-left: $collapsed-width + 0;
}

.sidebar:hover {
  width: $expanded-width;
  box-shadow: 0 0
    rwidth(10)
    0
    rgba(0,0,0,0.3);
}

.sidebar-nav {
    width: $expanded-width;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.sidebar-nav li {
    color: white;
}
.sidebar-link:hover{
  background-color: #fff;
  color: $background;
}
.sidebar-link{
  text-indent: 9px;
  height: rwidth(60);
  width: inherit;
  overflow: hidden; 
  justify-content: flex-start;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-align: left;
}

.sidebar-link {
  text-decoration: none;
  text-align: center;
  color: #d1d1d1;
}
.sidebar-link,
.sidebar-link-icon,
.sidebar-link-sep,
.sidebar-nav .material-icons{
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

}
.sidebar-link-icon, .sidebar-link-sep {
  width: $collapsed-width;
  padding-right: $icon-padding;
  padding-left: $icon-padding;
  justify-content: center;
}

.sidebar-link-icon .material-icons,
.sidebar-link-sep .material-icons{
  flex: 0 0 auto;
  width: $collapsed-width - rwidth(70) !important;
  font-size: $collapsed-width - rwidth(70) !important;
  text-align: center;
  text-indent: 0 !important;
}

.sidebar-link-sep {
    color: gray;
}

.sidebar-section-title {
    margin-left: rwidth(50);
}

.logo-container {
    height: rwidth(50);
    margin: auto;
}
.nuuk-dropdown-wrapper{
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.nuuk-dropdown-wrapper li{
  background-color: invert($background, 20%);
  height: 0;
}
.nuuk-dropdown-wrapper .sidebar-link{
  height: inherit;
}
.nuuk-dropdown-toggle{
  > .sidebar-link{
    &:after{
      margin-left: auto;
      content: '▼';
      transform: translateX(rwidth(-30));
    }
  }
  &.active > .sidebar-link{
    &:after{
      content: '▶';
    }
  }
}
.nuuk-dropdown-toggle.active .nuuk-dropdown-wrapper li{
  height: $item-height;
}

#navy-logo {
    position: relative;
    top: rwidth(5);
    height: rwidth(40);
    width: inherit;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
