.name-input {
    width: 400px;
}

.table-container {
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
    overflow: auto;
    height: 450px;
}

.datepicker-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    min-width: 600px;
    align-items: center;
    flex-wrap: wrap;
  }
