$screen-width: 1440;
$screen-height: 900;

// Relative Width
// @param width - the width in pixels
// @return the proportional width in vws.
@function rwidth($width){
  @return 100vw / $screen-width * $width;
}
// Relative Height
// @param height - the height in pixels
// @return the proportional height in vws.
@function rheight($height){
  @return 100vh / $screen-height * $height;
}

.nuuk-content{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nuuk-view{
  $view-padding-x: rwidth(25);
  $view-padding-y: rwidth(25);
  padding-top: $view-padding-y;
  padding-right: $view-padding-x;
  padding-bottom: $view-padding-y;
  padding-left: $view-padding-x;
}
.nuuk-table td{
  vertical-align: middle;
}
.nuuk-table-image{
  width: 100%;
}
.nuuk-table-image-tooltip{
  width: rwidth(300);
  height: rwidth(300);
  transition-property: none !important;
}

/* OVERRIDE */
.btn p{
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 0;
}
$tooltip-inner-bg: #f2f2f2;
.tooltip.b-tooltip{
  opacity: 1;
}
.tooltip-inner{
  width: inherit;
  max-width: none;
  background-color: $tooltip-inner-bg;
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before{
  border-right-color: $tooltip-inner-bg;
}
/* END OVERRIDE */

.nuuk-table {
  max-height: 58vh;
  overflow-y: auto;
}

.nuuk-table-image-thumbnail{
  width: rwidth(75);
  height: rwidth(75);
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}

.nuuk-datepicker-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  min-width: 600px;
  align-items: center;
  flex-wrap: wrap;
}

.control-horario {
  width: 150px;
}
