<template>
  <div class="nuuk-view">
    <b-alert v-for="alert in alerts" :key="alert.id" show dismissible :variant="alert.variant">{{alert.content}}</b-alert>
    <div class="nuuk-header">
      <h1>{{context.action_word}} {{context.action_noun}}</h1>
    </div>
    <div class="vista">
      <b-form>
        <div class="row no-gutters">
          <div
            class="row no-gutters col-12 col-lg-8 d-lg-flex justify-content-lg-between flex-wrap"
          >
            <label class="col-12 col-lg-6 pr-lg-2 my-2">
              <strong>Nombre</strong>
              <b-form-input name="first_name" type="text" v-model="form.first_name" placeholder="John" required></b-form-input>
              <b-alert v-if="form_errors.first_name" variant="danger" class="nuuk-alert my-2" show dismissible>{{form_errors.first_name}}</b-alert>
            </label>
            <label class="col-12 col-lg-6 pl-lg-2 my-2">
              <strong>Apellido</strong>
              <b-form-input name="last_name" type="text" v-model="form.last_name" placeholder="Appleseed" required></b-form-input>
              <b-alert v-if="form_errors.last_name" variant="danger" class="nuuk-alert my-2" show dismissible>{{form_errors.last_name}}</b-alert>
            </label>
            <label class="col-12 col-lg-6 pr-lg-2 my-2">
              <strong>Correo</strong>
              <b-form-input name="email" type="email" v-model="form.email" placeholder="john@apple.com" required></b-form-input>
              <b-alert v-if="form_errors.email" variant="danger" class="nuuk-alert my-2" show dismissible>{{form_errors.email}}</b-alert>
            </label>
            <label class="col-12 col-lg-6 pl-lg-2 my-2">
              <strong>Teléfono</strong>
              <b-form-input name="phone" type="tel" v-model="form.phone" placeholder="442 123 4537"></b-form-input>
              <b-alert v-if="form_errors.phone" variant="danger" class="nuuk-alert my-2" show dismissible>{{form_errors.phone}}</b-alert>
            </label>
            <div class="col-12 d-lg-flex justify-content-lg-end">
              <b-button
                class="col-12 col-lg-auto btn btn-dark mt-5"
                type="submit"
                @click="submit"
              >Guardar</b-button>
            </div>
          </div>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import JQuery from "jquery";
let $ = JQuery;
export default {
  data() {
    return {
      context: {
        action: "add",
        action_word: "Agregar",
        action_noun: "Prospecto",
        action_url: "/api/actions/create_client.php"
      },
      form: {
        first_name: "",
        last_name: "",
        email: "",
        phone: ""
      },
      alerts: [],
      alert_lifespan: 5000,
      form_errors: {}
    };
  },
 mounted(){
    let component = this;
    component.$nextTick(function(){
      let client_id = component.$route.params.id;
      if(client_id){
        component.context.action = "edit";
        component.context.action_word = "Editar";
        component.context.action_noun = "Cliente";
        component.context.action_url = `/api/actions/edit_client.php?id=${client_id}`;

        $.post(`/api/actions/get_clients.php?id=${client_id}`, {
          auth_token: sessionStorage.getItem("auth_token")
        })
        .done(data => {
          let response = JSON.parse(data);
          component.form.first_name = response.data[0].nombre;
          component.form.last_name = response.data[0].apellido;
          component.form.email = response.data[0].email;
          component.form.phone = response.data[0].telefono;
          if(response.data[0].tipo == 1){
            component.context.action_noun = "Prospecto";
          }
        })
        .done(data => {
          let response = JSON.parse(data);
          component.form.first_name = response.data[0].nombre;
          component.form.last_name = response.data[0].apellido;
          component.form.email = response.data[0].email;
          component.form.phone = response.data[0].telefono;
          if(response.data[0].tipo == 0){
            component.context.action_noun = "Empleado";
          }
        })
        .fail(err => {
          let response = JSON.parse(err.responseText);
          if(response.message.errors){
            component.form_errors = response.message.errors
          } else {
            component.alerts.push({
              variant: "danger",
              content: response.message
            });
          }
        });
      }
      $('input').on("change, keydown", function(){
        component.form_errors = {};
        component.alerts = []
      });
    });
  },
  methods: {
    submit(evt) {
      let component = this;
      evt.preventDefault();
      component.form["auth_token"] = sessionStorage.getItem("auth_token");
      $.post(component.context.action_url, component.form)
      .done(data => {
        let response = JSON.parse(data);
        if(component.context.action === "add"){
          Object.keys(component.form).forEach((key) => {
            component.form[key] = "";
            document.getElementsByTagName("form")[0].reset();
          });
        }
        component.alerts.push({
          id: Date.now(),
          variant: "success",
          content: response.message
        });
      })
      .fail(err => {
        let response = JSON.parse(err.responseText);
        if (response.message.errors) {
          component.form_errors = response.message.errors;
        } else {
          component.alerts.push({
          id: Date.now(),
            variant: "danger",
            content: response.message
          });
        }
      });
    }
  }
};
</script>
