<template>
    <div class="nuuk-view">
        <div class="nuuk-header">
            <h1>Asistencias</h1>
        </div>
        <div class="datepicker-container">
            <div class="mb-2 d-flex align-items-center">
                <h5 class="mr-1">Desde:</h5>
                <v-date-picker
                    mode="single"
                    tint-color="SteelBlue"
                    v-model="selectedDate1"
                    show-caps
                />
            </div>

            <div class="mb-2 d-flex align-items-center">
                <h5 class="mr-1">Hasta:</h5>
                <v-date-picker
                    mode="single"
                    tint-color="SteelBlue"
                    v-model="selectedDate2"
                    show-caps
                />
            </div>

            <div class="mb-2 d-flex align-items-center">
                <h5 class="mr-1">Desde:</h5>
                <b-form-select v-model="time1" class="mb-0 control-horario">
                    <option v-for="hour in workout_hours" :key="hour.time" :value="hour.time">{{hour.label}}</option>
                </b-form-select>
            </div>

            <div class="mb-2 d-flex align-items-center">
                <h5 class="mr-1">Hasta:</h5>
                <b-form-select v-model="time2" class="mb-0 mr-3 control-horario">
                    <option v-for="hour in workout_hours" :key="hour.time" :value="hour.time">{{hour.label}}</option>
                </b-form-select>
                <b-button variant="secondary ml-5" v-on:click="fetchAttendace">Filtrar</b-button>
            </div>

            <div class="d-flex justify-content-start align-items-center w-100 mt-3">
                <i class="material-icons">search</i>
                <b-form-input
                v-model="filter"
                type="search"
                placeholder="Buscar cliente..."
                class="ml-1 name-input"
                ></b-form-input>
            </div>
        </div>
        <div class="nuuk-content">
            <b-table 
            class="nuuk-table"
            ref="attendance_table"
            fixed
            sticky-header
            :busy="isBusy"
            small
            hover
            :filter="filter"
            :sortable="true"
            :items="attendanceList"
            :fields="fields"
            v-model="displayed_items">

                <template v-slot:cell(title)="data">
                    <span>
                        <h1>{{data.value}}</h1>
                    </span>
                </template>

                <template v-slot:cell(estado)="data">
                    <span>
                        <p v-if="data.value === '1'">Activo</p>
                        <p v-else>Inactivo</p>
                    </span>
                </template>

                <template v-slot:table-busy>
                    <div class="text-center text-secondary mt-5">
                        <b-spinner class="align-middle"></b-spinner>
                    </div>
                </template>

            </b-table>
            
            <h5 class="mr-3">Total de Asistencias: {{displayed_items.length}}</h5>
        </div>
    </div>
</template>

<script>
import JQuery from 'jquery';
let $ = JQuery;
export default {
    data() {
        return {
            auth_token: null,
            isBusy: true,
            test: null,
            filter: null,
            selectedDate1: new Date(),
            selectedDate2: new Date(),
            time1: "",
            time2: "",
            displayed_items: [],
            fields: [
                {
                    key: "fecha",
                    sortable: "true",
                    label: "Fecha"
                },
                {
                    key: "tiempo",
                    sortable: "true",
                    label: "Hora"
                },
                {
                    key: "nombre",
                    sortable: "true",
                    label: "Cliente"
                },
                {
                    key: "apellido",
                    sortable: "true",
                    label: "Apellido"
                },
                {
                    key: "estado",
                    sortable: "true",
                    label: "Estado"
                }
            ],
            workout_hours: [
                {
                    label: '6:00 am',
                    time: '6:00:00'
                },
                {
                    label: '7:00 am',
                    time: '7:00:00'
                },
                {
                    label: '8:00 am',
                    time: '8:00:00'
                },
                {
                    label: '9:00 am',
                    time: '9:00:00'
                },
                {
                    label: '10:00 am',
                    time: '10:00:00'
                },
                {
                    label: '11:00 am',
                    time: '11:00:00'
                },
                {
                    label: '12:00 pm',
                    time: '12:00:00'
                },
                {
                    label: '1:00 pm',
                    time: '13:00:00'
                },
                {
                    label: '2:00 pm',
                    time: '14:00:00'
                },
                {
                    label: '3:00 pm',
                    time: '15:00:00'
                },
                {
                    label: '4:00 pm',
                    time: '16:00:00'
                },
                {
                    label: '5:00 pm',
                    time: '17:00:00'
                },
                {
                    label: '6:00 pm',
                    time: '18:00:00'
                },
                {
                    label: '7:00 pm',
                    time: '19:00:00'
                },
                {
                    label: '8:00 pm',
                    time: '20:00:00'
                },
                {
                    label: '9:00 pm',
                    time: '21:00:00'
                }
            ],
            attendanceList: []
        }
    },
    methods: {
        authenticate(){
            this.auth_token = sessionStorage.getItem("auth_token");
        },
        oneWeekAgo() {
            let date = new Date();
            date.setDate(date.getDate() - 5);
            return date;
        },
        fetchAttendace() {
            this.isBusy = true;
            let el = this;
            let lower_date = this.selectedDate1 ? this.selectedDate1.toISOString().slice(0,10) : "";
            let upper_date = this.selectedDate2 ? this.selectedDate2.toISOString().slice(0,10) : "";
            let lower_time = this.time1;
            let upper_time = this.time2;
            $.post('/api/actions/get_attendance_history.php', 
                {
                    'auth_token': el.auth_token,
                    'lower_date': lower_date,
                    'upper_date': upper_date,
                    'lower_time': lower_time,
                    'upper_time': upper_time
                },
                (data) => {
                    el.attendanceList = JSON.parse(data) || [];

                    this.$refs.attendance_table.refresh();
                    this.isBusy = false;
                }
            ).fail(function(response) {
                alert("Error: " + response.responseText)
            });
        }
    },
    beforeMount() {
        this.authenticate();
    },
    mounted() {
        this.time1 = "6:00:00";
        this.time2 = "21:00:00";

        this.fetchAttendace();
    }
}
</script>

<style scoped>
    @import '../assets/css/main.scss';
    @import '../assets/css/components/attendance_history.scss';
</style>
