<template>
    <div class="nuuk-view">
        <div class="nuuk-header mb-4">
            <h1 v-if="$route.params.id">Editar Producto</h1>
            <h1 v-else>Nuevo Producto</h1>
        </div>
        <div class="nuuk-content">
            <form enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-8 pr-5">
                        <div class="form-group">
                            <label for="nombreProducto">Nombre del Producto</label>
                            <b-input type="text" :state="name_valid" class="form-control mb-2" id="nombreProducto" v-model="nombre" />
                            <b-form-invalid-feedback :state="name_valid">
                                La longitud del nombre debe ser mayor a cero.
                            </b-form-invalid-feedback>
                        </div>
                        <div class="form-group w-50">
                            <label for="precioProducto">Precio</label>
                            <b-input type="number" :state="price_valid" min="0.0" class="form-control mb-2" id="precioProducto" v-model="precio" />
                            <b-form-invalid-feedback :state="price_valid">
                                El precio debe ser un número positivo.
                            </b-form-invalid-feedback>
                        </div>
                        <div class="form-group">
                            <label for="dropdownGenero">Tipo de Producto</label>
                            <div >
                                <b-form-select v-model="tipo" :state="type_valid" class="mb-2 w-50">
                                    <option :value="null" border-variant="dark">Selecciona una opción</option>
                                    <option v-for="type in product_types" :key="type.id" :value="type.id">{{type.nombre}}</option>
                                </b-form-select>
                                <b-form-invalid-feedback :state="type_valid">
                                    Selecciona una opción.
                                </b-form-invalid-feedback>
                            </div>
                        </div>
                        <div class="form-group" v-if="tipo === '1'">
                            <label for="dropdownGenero">Sexo</label>
                            <div >
                                <b-form-select v-model="sexo" :state="sex_valid" class="mb-2 w-50">
                                    <option value="null" border-variant="dark">Selecciona una opción</option>
                                    <option value="M">Mujer</option>
                                    <option value="H">Hombre</option>
                                    <option value="U">Unisex</option>
                                </b-form-select>
                                <b-form-invalid-feedback :state="sex_valid">
                                    Selecciona una opción.
                                </b-form-invalid-feedback>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descripcionProducto">Descripción</label>
                            <b-form-textarea class="form-control" v-model="descripcion" :state="desc_valid" id="descripcionProducto"></b-form-textarea>
                            <b-form-invalid-feedback :state="desc_valid">
                                La longitud de la descripción debe ser mayor a cero.
                            </b-form-invalid-feedback>
                        </div>
                        <div v-if="editable" class="mt-2">
                            <label>Talla</label>
                            <p class="ml-1">{{editable_talla}}</p>
                        </div>
                        <div v-if="tipo !== '1' || editable">
                            <label for="cantidadProducto" class="mt-2">Cantidad</label>
                            <b-form-input type="number" min="0" v-model="cantidad" :state="qty_valid" id="cantidadProducto" class="input-cantidad"></b-form-input>
                            <b-form-invalid-feedback :state="qty_valid">
                                La cantidad debe ser un número entero positivo.
                            </b-form-invalid-feedback>
                        </div>
                    </div>
                    <div class="form-group col-md-4 d-flex flex-column align-items-center">
                        <img :src="displayed_img" id="image" class="nuuk-img-thumbnail">
                        <label class="btn btn-light btn-file mt-3">
                            Cargar <input type="file" id="product_img" style="display: none;" v-on:change="previewImage">
                        </label>
                    </div>
                </div>
                <div v-if="tipo === '1' & !editable" class="mt-3 mb-5   ">
                    <label>Tallas</label>
                    <b-container class="mt-2">
                        <b-row>
                            <b-col>
                                XS
                                <b-form-input type="number" min="0" :state="xs_valid" v-model="tallas_cantidades.XS"></b-form-input>
                                <b-form-invalid-feedback :state="xs_valid">
                                    La cantidad debe ser un número entero positivo.
                                </b-form-invalid-feedback>
                            </b-col>
                            <b-col>
                                S
                                <b-form-input type="number" min="0" :state="s_valid" v-model="tallas_cantidades.S"></b-form-input>
                                <b-form-invalid-feedback :state="s_valid">
                                    La cantidad debe ser un número entero positivo.
                                </b-form-invalid-feedback>
                            </b-col>
                            <b-col>
                                M
                                <b-form-input type="number" min="0" :state="m_valid" v-model="tallas_cantidades.M"></b-form-input>
                                <b-form-invalid-feedback :state="m_valid">
                                    La cantidad debe ser un número entero positivo.
                                </b-form-invalid-feedback>
                            </b-col>
                            <b-col>
                                L
                                <b-form-input type="number" min="0" :state="l_valid" v-model="tallas_cantidades.L"></b-form-input>
                                <b-form-invalid-feedback :state="l_valid">
                                    La cantidad debe ser un número entero positivo.
                                </b-form-invalid-feedback>
                            </b-col>
                            <b-col>
                                XL
                                <b-form-input type="number" min="0" :state="xl_valid" v-model="tallas_cantidades.XL"></b-form-input>
                                <b-form-invalid-feedback :state="xl_valid">
                                    La cantidad debe ser un número entero positivo.
                                </b-form-invalid-feedback>
                            </b-col>
                            <b-col>
                                Unitalla
                                <b-form-input type="number" min="0" :state="u_valid"
                                v-model="tallas_cantidades.U"></b-form-input>
                                <b-form-invalid-feedback :state="u_valid">
                                    La cantidad debe ser un número entero positivo.
                                </b-form-invalid-feedback>
                            </b-col>
                        </b-row>
                    </b-container>
                </div>
            </form>
            <button class="btn btn-dark float-right" v-on:click="submitWithFile">Guardar</button>
        </div>
    </div>
</template>

<script>
import JQuery from 'jquery';
let $ = JQuery;
const FormData = require("form-data");
export default {
    data() {
        return {
            validate: false,
            editable: null,
            editable_talla: null,
            auth_token: null,
            test: null,
            tipo: null,
            sexo: null,
            nombre: "",
            precio: "",
            descripcion: "",
            cantidad: 0,
            tallas_cantidades: {
                XS: 0,
                S: 0,
                M: 0,
                L: 0,
                XL: 0,
                U: 0
            },
            displayed_img: require("../assets/img/placeholder.jpg"),
            product_types: []
        }
    },
    watch: {
        $route(to, from) {
            this.resetFields();
        }
    },
    computed: {
        name_valid() {
            return this.validate & this.nombre.length == 0 ? false : null;
        },
        price_valid() {
            return this.validate & !/^([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/.test(this.precio) ? false : null;
        },
        type_valid() {
            return this.validate & this.tipo == null ? false : null;
        },
        sex_valid() {
            return this.validate & this.sexo == null ? false : null;
        },
        desc_valid() {
            return this.validate & this.descripcion.length == 0 ? false : null;
        },
        qty_valid() {
            return this.validate & !/^(0|[1-9]\d*)$/.test(this.cantidad) ? false : null;
        },
        xs_valid() {
            return this.validate & !/^(0|[1-9]\d*)$/.test(this.tallas_cantidades.XS) ? false : null;
        },
        s_valid() {
            return this.validate & !/^(0|[1-9]\d*)$/.test(this.tallas_cantidades.S) ? false : null;
        },
        m_valid() {
            return this.validate & !/^(0|[1-9]\d*)$/.test(this.tallas_cantidades.M) ? false : null;
        },
        l_valid() {
            return this.validate & !/^(0|[1-9]\d*)$/.test(this.tallas_cantidades.L) ? false : null;
        },
        xl_valid() {
            return this.validate & !/^(0|[1-9]\d*)$/.test(this.tallas_cantidades.XL) ? false : null;
        },
        u_valid() {
            return this.validate & !/^(0|[1-9]\d*)$/.test(this.tallas_cantidades.U) ? false : null;
        },
        editable_qty_valid() {
            return this.validate & !/^(0|[1-9]\d*)$/.test(this.editable_qty) ? false : null;
        }
    },
    methods: {
        authenticate(){
            this.auth_token = sessionStorage.getItem("auth_token");
        },
        getEditable(){
            let el = this;
            if(this.$route.params.id) {
                $.post('/api/actions/get_product_by_id.php',
                {
                    'auth_token': el.auth_token,
                    'id_product': el.$route.params.id
                },
                (data) => {
                    el.editable = JSON.parse(data)[0] || null;
                    if(el.editable) {
                        el.nombre = el.editable.nombre;
                        el.precio = el.editable.precio;
                        el.cantidad = el.editable.cantidad;
                        el.tipo = el.editable.tipo;
                        el.sexo = el.editable.sexo;
                        el.descripcion = el.editable.descripcion;
                        el.editable_talla = el.editable.talla;
                        if (el.editable.foto) el.displayed_img = require("../assets/img/products/" + el.editable.foto);
                    }
                }
                ).fail(function(response){
                    alert(response.responseText);
                })
            }
        },
        resetFields(){
            this.editable = null;
            this.editable_talla = null;
            this.tipo = null;
            this.sexo = null;
            this.sexo = null;
            this.nombre = "";
            this.precio = null;
            this.descripcion = "";
            this.cantidad = 0;
            this.tallas_cantidades = {
                XS: 0,
                S: 0,
                M: 0,
                L: 0,
                XL: 0,
                U: 0
            };
            this.displayed_img = require("../assets/img/placeholder.jpg");
        },
        getProductTypes(){
            let el = this;
            $.post('/api/actions/get_product_types.php',
            {
                'auth_token': el.auth_token
            },
            (data) => {
                    el.product_types = JSON.parse(data) || [];
                }
            ).fail(function(response){
                alert(response.responseText);
            })
        },
        previewImage() {
            if ($("#product_img").prop("files") && $("#product_img").prop("files")[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                $('#image').attr('src', e.target.result);
                }
                
                reader.readAsDataURL($("#product_img").prop("files")[0]);
            }
        },
        valid_submit() {
            this.validate = true;
            let is_valid = false;
            if (this.tipo !== '1') {
                is_valid =  this.name_valid == null & this.price_valid == null & this.type_valid == null &
                this.desc_valid == null & this.qty_valid == null;
            } else {
                is_valid = this.name_valid == null & this.price_valid == null & this.type_valid == null &
                this.sex_valid == null & this.desc_valid == null & this.xs_valid == null & this.s_valid == null &
                 this.m_valid == null & this.l_valid == null & this.xl_valid == null & this.u_valid == null;
            }
            return is_valid;
        },
        submitWithFile() {
            if (this.valid_submit()) {
                if (!this.editable) {
                    let el = this;
                    var img_data = $("#product_img").prop("files")[0];
                    if (this.tipo !== '1') {
                        let data = new FormData();
                        data.append("auth_token", el.auth_token);
                        data.append("name", el.nombre);
                        data.append("price", el.precio);
                        data.append("quantity", el.cantidad);
                        data.append("type", el.tipo);
                        data.append("size", "NA");
                        data.append("sex", "NA");
                        data.append("description", el.descripcion);
                        if (img_data) data.append("image", img_data);

                        $.ajax({
                            url: '/api/actions/create_product.php',
                            dataType: 'text',
                            cache: false,
                            contentType: false,
                            processData: false,
                            data: data,                         
                            type: 'post',
                            success: function(response){
                                alert('Producto creado exitosamente.');
                                el.$router.push('/productos');
                            }
                        }).fail(function(response) {
                            alert('Error: ' + response.responseText);
                        });
                    } else {
                        let success = true;
                        for (let size in this.tallas_cantidades) {
                            if (this.tallas_cantidades[size] > 0) {
                                let data = new FormData();
                                data.append("auth_token", el.auth_token);
                                data.append("name", el.nombre);
                                data.append("price", el.precio);
                                data.append("quantity", el.tallas_cantidades[size]);
                                data.append("type", el.tipo);
                                data.append("size", size);
                                data.append("sex", el.sexo);
                                data.append("description", el.descripcion);
                                if (img_data) data.append("image", img_data);

                                $.ajax({
                                    url: '/api/actions/create_product.php',
                                    dataType: 'text',
                                    cache: false,
                                    contentType: false,
                                    processData: false,
                                    data: data,                         
                                    type: 'post'
                                }).fail(function(response) {
                                    alert('Error: ' + response.responseText);
                                    success = false;
                                });
                            }
                        }
                        if (success){
                            alert("Producto creado exitosamente");
                            el.$router.push('/productos');
                        }
                    }
                } else {
                    let el = this;
                    var img_data = $("#product_img").prop("files")[0];
                    let data = new FormData();
                    data.append("auth_token", el.auth_token);
                    data.append("id_product", el.editable.id);
                    data.append("name", el.nombre);
                    data.append("price", el.precio);
                    data.append("quantity", el.cantidad);
                    data.append("type", el.tipo);
                    data.append("size", el.editable_talla);
                    data.append("sex", el.sexo);
                    data.append("description", el.descripcion);
                    if (el.editable.foto) data.append("image_name", el.editable.foto);
                    if (img_data) data.append("image", img_data);

                    $.ajax({
                        url: '/api/actions/edit_product.php',
                        dataType: 'text',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: data,                         
                        type: 'post',
                        success: function(response){
                            alert('Producto editado exitosamente.');
                            el.editable = null;
                            el.$router.push('/productos');
                        }
                    }).fail(function(response) {
                        alert('Error: ' + response.responseText);
                    });
                }
            }
        }
    },
    beforeMount(){
        this.authenticate();
        this.getEditable();
    },
    mounted() {
        
        this.getProductTypes();
    }
}
</script>

<style lang="scss" scoped>
    @import '../assets/css/components/create_product.scss';
</style>
