<template>
  <div class="nuuk-view no-gutters">
    <div class="nuuk-header mb-4">
      <h1 v-if="$route.params.id">Editar Membresía</h1>
      <h1 v-else>Nueva Membresía</h1>
    </div>
    <div class="nuuk-content col-md-12 no-gutters">
      <form class="col-md-12 no-gutters">
        <!-- INPUT FIELDS -->
        <div class="col-md-12 no-gutters">
          <div class="form-group col-md-6">
            <label for="nombreProducto">Nombre</label>
            <input type="text" class="form-control" v-model="nombre" id="nombre" />
          </div>

          <div class="form-group col-md-6">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" v-model="descripcion"></textarea>
          </div>

          <div class="form-group">
            <label for="precio">Precio</label>
            <b-form-input id="precio" style="width:20%;" type="number" v-model="precio" placeholder="$0.00 MXN"></b-form-input>
          </div>
        </div>

        <!-- SERVICES TABLE -->
        <div class="col-12 col-md-6 mt-5 no-gutters">
          <label class="col-12 d-flex justify-content-between">
            Servicio por mes
            <b-link href="javascript:void(0)" v-b-modal.add_services>+ Añadir servicio</b-link>
          </label>
          <b-table
            id="cantidadServicios"
            striped
            bordered
            head-variant="dark"
            :fields="services_fields"
            :items="clean_services_items"
          >
            <template v-slot:table-colgroup="scope">
              <col
                v-for="field in scope.fields"
                :key="field.key"
                :style="{width: field.key === 'cantidad' ? '10vw' : 'auto' }"
              />
            </template>
          </b-table>
        </div>

        <!-- MODAL -->
        <b-modal
          id="add_services"
          ok-variant="dark"
          cancel-variant="outline-dark"
          title="Servicios"
        >
          <b-form-input
            class="my-2"
            v-model="add_services_filter"
            type="search"
            placeholder="Buscar membresía..."
          ></b-form-input>
          <b-table
            striped
            bordered
            head-variant="dark"
            :filter="add_services_filter"
            :fields="add_services_fields"
            :items="services_items"
          >
            <template v-slot:table-colgroup="scope">
              <col
                v-for="field in scope.fields"
                :key="field.key"
                :style="{width: field.key === 'cantidad' || 'service_id' ? '10%' : '80%' }"
              />
            </template>
            <template v-slot:cell(cantidad)="data">
              <div class="d-flex justify-content-center align-items-center align-content-center">
                <b-button
                  @click="if(data.item.cantidad > 0) data.item.cantidad -= 1"
                  variant="outline-dark"
                  :class="(data.item.cantidad == 0 ? 'disabled ':' ')+'mx-3'"
                  size="sm"
                >&nbsp;-&nbsp;</b-button>
                {{data.item.cantidad}}
                <b-button
                  @click="data.item.cantidad = parseInt(data.item.cantidad) + 1"
                  variant="outline-dark"
                  class="mx-3"
                  size="sm"
                >&nbsp;+&nbsp;</b-button>
              </div>
            </template>
          </b-table>
        </b-modal>

        <div class="row no-gutters">
          <div class="col-md-8 d-flex justify-content-between flex-wrap flex-md-nowrap">
            <a
              @click="$router.go(-1)"
              href="javascript:void(0)"
              class="btn btn-lg btn-outline-dark my-2 mt-md-5 mb-md-0 col-12 col-md-4"
            >Cancelar</a>
            <button
              type="button"
              v-on:click="uploadMembership"
              class="btn btn-lg btn-dark my-2 mt-md-5 mb-md-0 col-12 col-md-4"
            >Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import JQuery from "jquery";
let $ = JQuery;

export default {
  data: function() {
    return {
      // MEMBERSHIP INFORMATION
      id: null,
      descripcion: null,
      nombre: null,
      precio: null,

      // SERVICES INFORMATION TABLE
      services_fields: [
        {
          key: "service_id",
          label: "id",
          sortable: true
        },
        {
          key: "servicio",
          label: "Servicio",
          sortable: true
        },
        {
          key: "cantidad",
          label: "Cantidad",
          sortable: true
        },        
      ],
      services_items: [],
      // ADD SERVICES TABLE
      add_services_fields: [
        {
          key: "service_id",
          label: "id",
          sortable: true
        },
        {
          key: "servicio",
          label: "Servicio"
        },
        {
          key: "cantidad",
          label: "Cantidad"
        }
      ],
      add_services_filter: ""
    };
  },
  computed: {
    clean_services_items: function() {
      return $(this.services_items)
        .filter((idx, service) => {
          return service.cantidad > 0;
        })
        .toArray();
    }
  },
  methods: {
    authenticate() {
        this.auth_token = sessionStorage.getItem("auth_token");
    },
    setServCuantity(id_servi, cuantity) {
      let el = this;
      for (let i=0; i<el.services_items.length; i++) {
        if (el.services_items[i].service_id == id_servi) {
          el.services_items[i].cantidad = cuantity;
        }
      }
    },
    getEditable(){
        let el = this;
        if(this.$route.params.id) {
            $.post('/api/actions/get_membership_by_id.php',
            {
                'auth_token': el.auth_token,
                'id_membership': el.$route.params.id
            }, (data) => {
                el.editable = JSON.parse(data)[0] || null;
                if(el.editable) {
                    el.nombre = el.editable.nombre;
                    el.precio = el.editable.precio;
                    el.descripcion = el.editable.descripcion;
                }
            }).fail(function(response){
                alert(response.responseText);
            })

            // get services
            $.post('/api/actions/get_memb_serv_by_id.php',
            {
                'auth_token': el.auth_token,
                'id_membership': el.$route.params.id
            }, (res) => {
                let data = res.data;
                el.prevServ = JSON.parse(res) || null;
                if(el.prevServ) {
                  for (let i=0; i<el.prevServ.length; i++) {
                    let servId = el.prevServ[i].id_servicio;
                    let servCuantity = el.prevServ[i].cantidad;
                    el.setServCuantity(servId, servCuantity);
                  }
                }
            }).fail(function(response){
                alert(response.responseText);
            })
        }
    },
    uploadMembership() {
      let name = document.getElementById("nombre").value;
      let desc = document.getElementById("descripcion").value;
      let precio = document.getElementById("precio").value;

      // tabla
      let tabla = document.getElementById("cantidadServicios");
      let rowLength = tabla.rows.length;

      if (name != "" && desc != "" && precio > 0 && rowLength > 1) {

        let services = [];
        for (let i=1; i<rowLength; i++) {
          services[i-1] = [];
          services[i-1][0] = tabla.rows[i].cells[0].innerHTML.toString();
          services[i-1][1] = tabla.rows[i].cells[1].innerHTML.toString();
          services[i-1][2] = tabla.rows[i].cells[2].innerHTML.toString();
        }   

        let services_json = JSON.stringify(services);

        if (this.$route.params.id) {
          $.post(
            "/api/actions/update_membership.php",
            { nombre: name, descrip: desc, precio: precio, auth_token: this.auth_token, 
              servicios: services_json, memId: this.$route.params.id },
            data => {
              if (data == "Error") {
                alert("Ha ocurrido un error, intente nuevamente");
                return;
              } else {
                alert("La membresía se ha actualizado exitosamente");
                this.$router.go(-1);
              }
            }
          );
        } else {
          $.post(
            "/api/actions/add_membership.php",
            { nombre: name, descrip: desc, precio: precio, 
              auth_token: this.auth_token, servicios: services_json },
            data => {
              if (data == "Error") {
                alert("Ha ocurrido un error, intente nuevamente");
                return;
              } else {
                alert("La membresía se ha guardado exitosamente");
                this.$router.go(-1);
              }
            }
          );
        }

        
      } else {
        alert("Aún hay campos vacios.");
      }
    },
    test() {           
    },
  },
  beforeMount(){
      this.authenticate();
  },
  mounted() {
    let el = this;
    let authToken = sessionStorage.getItem("auth_token");
    $.post("/api/actions/get_services_list.php", {
      auth_token: authToken
    }, data => {
      el.services_items = JSON.parse(data);
    });
    this.getEditable();
  },
};
</script>

<style lang="scss" scoped>
</style>
