<template>
    <div class="nuuk-container">
        <div class="nuuk-main_container">
            <h1>Crear vigencia de pago</h1>
            <br>
            <h3>Nombre</h3>
            <b-form-input class="nuuk-create_main_name_form" v-model="text" placeholder="Nombre de vigencia"></b-form-input>
            <br>
            <div class="nuuk-input_container">
                <div class="nuuk-duration_input">
                    <h5>Duración Días</h5>
                    <b-form-input class="nuuk-input_number" v-model="number"></b-form-input>
                </div>
                <div class="nuuk-duration_input">
                    <h5>Duración Meses</h5>
                    <b-form-input class="nuuk-input_number" v-model="number"></b-form-input>
                </div>
                <div class="nuuk-duration_input">
                    <h5>Duración Años</h5>
                    <b-form-input class="nuuk-input_number" v-model="number"></b-form-input>
                </div>
            </div>
        </div>
        <footer class="nuuk-buttons_container">
            <b-button variant="outline-dark">Cancelar</b-button>
            <b-button variant="dark">Guardar</b-button>
        </footer>
    </div>
</template>

<style lang="scss">
    @import '../assets/css/main.scss';
    .nuuk-container {
        height: 100%;
        justify-content: space-between;
    }
    .nuuk-main_container {
        width: 60%;
    }
    .nuuk-create_main_name_form {
        width: 80%;
    }
    .nuuk-input_container {
        width: 30%;
    }
    .nuuk-duration_input {
        display: flex;
        width: 100%;
        justify-content: space-between;
        orientation: landscape;
        align-items: center;
        margin-top: 0.5%;
        margin-top: 0.6%;
    }
    .nuuk-input_number {
        width: 60px;
        margin-left: 0.5%;
        text-align: center;
        align-self: flex-end;
    }
    .nuuk-buttons_container {
        display: flex;
        width: 60%;
        justify-content: space-between;
        orientation: landscape;
        align-items: center;
        padding-left: 1%;
        padding-right: 5%;
        margin-top: 15%;
    }
</style>