<template>
    <div class="nuuk-main_container">
        <h1>Esquema de pago</h1>
        <br>
        <h5>Nombre</h5>
        <b-form-input v-model="text" placeholder="Nombre del esquema de pago"></b-form-input>
        <br>
        <h5>Descripción</h5>
        <b-form-input v-model="text" placeholder="Descripción del esquema de pago"></b-form-input>
        <br>
        <div class="nuuk-options_div">
            <div>
                <h5>Vigencia</h5>
                <b-form-input v-model="text" placeholder="Trimestral"></b-form-input>
            </div>
            <div>
                <h5>Porcentaje Descuento</h5>
                <b-form-input v-model="text" placeholder="25%"></b-form-input>
            </div>
        </div>
        <div class="nuuk-footer_buttons">
            <b-button variant="outline-dark">Cancelar</b-button>
            <b-button variant="dark">Guardar</b-button>
        </div>
    </div>
</template>

<style lang="scss">
    @import '../assets/css/main.scss';
    .nuuk-main_container {
        width: 55%;
    }
    .nuuk-options_div {
        display: flex;
        justify-content: space-between;
    }
    .nuuk-footer_buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        padding-right: 1%;
        padding-left: 1%;
    }
</style>