<template>
  <div class="nuuk-view">
      <div class="nuuk-header">
          <h1>Dashboard</h1>
      </div>
      <div>
            <div class="row d-flex justify-content-around">
                <b-card class="datacard shadow border-light m-2" title="Clientes Nuevos" sub-title="Octubre">
                    <h2 class="ml-2">{{clientesNuevosMes}}</h2>
                </b-card>
                <b-card class="datacard shadow border-light m-2" title="Clientes Nuevos" sub-title="2019">
                    <h2 class="ml-2">{{clientesNuevosAño}}</h2>
                </b-card>
                <b-card class="datacard shadow border-light m-2" title="Clientes Activos" sub-title="Último Mes">
                    <h2 class="ml-2">{{clientesActivos}}</h2>
                </b-card>
                <b-card class="datacard shadow border-light m-2" title="Nuevos Prospectos" sub-title="Octubre">
                    <h2 class="ml-2">{{prospectosMes}}</h2>
                </b-card>
            </div>
      </div>
      <div class="mt-1">
        <div class="row d-flex justify-content-around align-items-center">
            <b-card title="Número de Clientes" sub-title="Historial" class="barchart shadow border-light m-2">
                <div>
                    <bar-chart :chart-data="barData" :width="300" :height="200"></bar-chart>
                </div>
            </b-card>
            <b-card title="Tipos de Clientes" sub-title="Octubre" class="doughnutchart shadow border-light m-2">
                <div>
                    <doughnut-chart :chart-data="doughnutData" :width="300" :height="200"> </doughnut-chart>
                </div>
            </b-card>
        </div>
      </div>
      <div class="mt-1">
            <div class="row d-flex justify-content-around">
                <b-card class="datacard shadow border-light m-2" title="Ingresos Membresías" sub-title="Octubre">
                    <h2 class="ml-2">${{this.moneyFormat(ingresosMembresiasMes)}}</h2>
                </b-card>
                <b-card class="datacard shadow border-light m-2" title="Ingresos Membresías" sub-title="2019">
                    <h2 class="ml-2">${{this.moneyFormat(ingresosMembresiasAño)}}</h2>
                </b-card>
                <b-card class="datacard shadow border-light m-2" title="Ingresos Mercancía" sub-title="Octubre">
                    <h2 class="ml-2">${{this.moneyFormat(ingresosMercMes)}}</h2>
                </b-card>
                <b-card class="datacard shadow border-light m-2" title="Ingresos Mercancía" sub-title="2019">
                    <h2 class="ml-2">${{this.moneyFormat(ingresosMercAño)}}</h2>
                </b-card>
            </div>
      </div>
      <div>
        <div class="row d-flex justify-content-center">
            <b-card title="Ingresos" sub-title="Último Mes" class="linechart shadow border-light m-2">
            <div >
                <line-chart :chart-data="lineData" :width="300" :height="400"></line-chart>
            </div>
            </b-card>
        </div>
      </div>
  </div>
</template>

<script>
import LineChart from '../components/LineChart.vue';
import BarChart from '../components/BarChart.vue';
import DoughnutChart from '../components/DoughnutChart.vue';

export default {
    name: 'Dashboard',
    components: {
        LineChart,
        BarChart,
        DoughnutChart
    },
    data() {
        return {
            clientesNuevosMes: null,
            clientesNuevosAño: null,
            clientesActivos: null,
            prospectosMes: null,
            ingresosMembresiasMes: null,
            ingresosMembresiasAño: null,
            ingresosMercMes: null,
            ingresosMercAño: null,
            barData: null,
            doughnutData: null,
            lineData: null
        }
    },
    mounted() {
        this.fillClientesNuevosMes();
        this.fillClientesNuevosAño();
        this.fillClientesActivos();
        this.fillProspectosMes();
        this.fillIngresosMembMes();
        this.fillIngresosMembAño();
        this.fillIngresosMercMes();
        this.fillIngresosMercAño();
        this.fillBarChart();
        this.fillLineChart();
        this.fillDoughnutChart();
    },
    methods: {
        moneyFormat(number) {
            const money = (number).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            return money
        },
        fillBarChart () {
            this.barData = {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                datasets: [
                    {
                    label: 'Membresía Completa',
                    backgroundColor: 'rgb(53,73,94)',
                    pointBackgroundColor: 'white',
                    data: [40, 20, 30, 50, 90, 84, 70, 66, 50, 70, 90, 100],
                    },
                    {
                    label: 'Membresía Sencilla',
                    backgroundColor: 'rgb(0,129,138',
                    pointBackgroundColor: 'white',
                    data: [20, 10, 6, 8, 12, 11, 11, 13, 12, 15, 16, 18],
                    }
                ]
            }
        },
        fillLineChart() {
            this.lineData = {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                datasets: [
                    {
                        label: 'Mercancía',
                        backgroundColor: 'rgb(255,189,57,0)',
                        pointBackgroundColor: 'rgb(255,189,57)',
                        borderColor: 'rgb(255,189,57)',
                        borderWidth: 3,
                        //Data to represent on the y axis
                        data: [5000, 2000, 3000, 5000, 9000, 1000, 2000, 4000, 5000, 7000, 9000, 10000]
                    },
                    {
                        label: 'Membresías',
                        backgroundColor: 'rgb(255,130,70, 0)',
                        pointBackgroundColor: 'rgb(255,130,70)',
                        borderColor: 'rgb(255,130,70)',
                        borderWidth: 3,
                        //Data to represent on the y axis
                        data: [40000, 20000, 30000, 50000, 90000, 60000, 70000, 60000, 50000, 70000, 90000, 100000]
                    },
                    {
                        label: 'Total',
                        backgroundColor: 'rgb(55,58,109,0)',
                        pointBackgroundColor: 'rgb(55,58,109)',
                        borderColor: 'rgb(55,58,109)',
                        borderWidth: 3,
                        //Data to represent on the y axis
                        data: [45000, 22000, 33000, 55000, 99000, 61000, 72000, 64000, 55000, 77000, 99000, 110000]
                    }
                ],
                maintainAspectRatio: false,
                responsive: true
            }
        },
        fillDoughnutChart() {
            this.doughnutData = {
                datasets: [{
                    data: [46, 3, 9],
                    backgroundColor: [
                        'rgb(41,52,98)',
                        'rgb(0,129,138)',
                        'rgb(236,155,59)'
                    ]
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'Clientes Activos',
                    'Clientes Inactivos',
                    'Prospectos'
                ]
            }
        },
        fillClientesNuevosMes() {
            this.clientesNuevosMes = 8;
        },
        fillClientesNuevosAño() {
            this.clientesNuevosAño = 38;
        },
        fillClientesActivos() {
            this.clientesActivos = 46;
        },
        fillProspectosMes() {
            this.prospectosMes = 9;
        },
        fillIngresosMembMes() {
            this.ingresosMembresiasMes = 63687.05;
        },
        fillIngresosMembAño() {
            this.ingresosMembresiasAño = 431557.00;
        },
        fillIngresosMercMes() {
            this.ingresosMercMes = 5321.00;
        },
        fillIngresosMercAño() {
            this.ingresosMercAño = 20751.00;
        }
    }
}
</script>

<style>
    .datacard {
        min-width: 250px;
        height: 135px;
    }

    .barchart {
        width: 600px;
        height: 300px;
    }

    .linechart {
        width: 1000px;
        height: 500px;
    }

    .doughnutchart {
        width: 400px;
        height: 350px;
    }

</style>