<template>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Bienvenido a Navy Sport Center</h3>
                <div class="nuuk-alerts">
                  <b-alert v-for="alert in alerts" :variant="alert.variant" :key="alert.key" show dismissible>
                    {{alert.content}}
                  </b-alert>
                </div>
                <form>
                  <div class="form-label-group">
                    <input
                      type="email"
                      id="inputEmail"
                      class="form-control"
                      placeholder="Email address"
                      v-model="email"
                      required
                      autofocus
                    />
                    <label for="inputEmail">Correo Electronico</label>
                  </div>

                  <div class="form-label-group">
                    <input
                      type="password"
                      id="inputPassword"
                      class="form-control"
                      placeholder="Password"
                      v-model="password"
                      required
                    />
                    <label for="inputPassword">Contraseña</label>
                  </div>

                  <!--<div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" />
                    <label class="custom-control-label" for="customCheck1">Recordar Contraseña</label>
                  </div>-->

                  <button
                    class="btn btn-primary btn-navy btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2"
                    type="submit" @click="loginSubmit">Iniciar sesión</button>
                  <div class="text-center">
                    <a class="small" href="#">¿Olvidaste tu conraseña?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script scoped>
import JQuery from 'jquery';
import '../assets/css/login.css';
let $ = JQuery;

export default {
  name: "Login",
  data(){
    return {
      email: null,
      password: null,
      alerts: []
    }
  },
  methods: {
    loginSubmit(evt){
      let component = this;
      evt.preventDefault();
      $.post("/api/actions/login.php", {
        email: component.email,
        password: component.password
      })
        .done(res => {
          let response = JSON.parse(res);
          sessionStorage.setItem("auth_token", response.data.auth_token);
          location.reload();
        })
        .fail(res => {
          let response = JSON.parse(res.responseText);
          component.alerts = [];
          if(response.message.errors){
            Object.keys(response.message.errors).forEach(key => {
              component.alerts.push({
                variant: 'danger',
                content: response.message.errors[key]
              });
            });
          } else {
            component.alerts.push({
              variant: 'danger',
              content: response.message
            });
          }
        })
    }
  }
};
</script>

<style>
@import "../assets/css/login.css";
</style>
