<template>
  <div class="nuuk-view">
    <div class="nuuk-header">
        <h1>Pagos (Membresías)</h1>
    </div>
    <div class="nuuk-content">
        <div class="d-flex justify-content-start w-100">
          <b-form-input
            v-model="filter"
            type="search"
            placeholder="Ingresa un término de búsqueda..."
            class="my-3"
          ></b-form-input>
        </div>
        <b-table 
            class="nuuk-table text-center"
            :sortable="true"
            :items="items"
            :fields="fields"
            :filter="filter"
            sort-icon-left="true"
        >
            <template v-slot:cell(monto)="data">
              <span>
                ${{data.value}} MXN
              </span>
            </template>
        </b-table>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      filter: null,
      fields: [{
        key: "fecha",
        label: "Fecha",
        sortable: true,
      },{
        key: "cliente",
        label: "Cliente",
        sortable: true,
      },{
        key: "membresia",
        label: "Membresía",
        sortable: true,
      },{
        key: "monto",
        label: "Monto",
        sortable: true,
      },{
        key: "vigencia",
        label: "Vigencia (meses)",
        sortable: true,
      },{
        key: "forma_de_pago",
        label: "Forma de Pago",
        sortable: true,
      }],
      items: [{
        fecha: "10/9/2020",
        cliente: "Ricardo Cortés",
        membresia: "Completa",
        monto: 1200.00,
        vigencia: 1,
        forma_de_pago: "Tarjeta"
      },{
        fecha: "20/9/2020",
        cliente: "Jennifer López",
        membresia: "Básica",
        monto: 1200.00,
        vigencia: 3,
        forma_de_pago: "Efectivo"
      },{
        fecha: "20/9/2020",
        cliente: "Elon Musk",
        membresia: "Completa",
        monto: 120000.00,
        vigencia: 12,
        forma_de_pago: "Tarjeta"
      }]
    }
  }
}
</script>

<style lang="scss">
</style>
