<template>
  <div class="nuuk-view">
    <div class="nuuk-header">
      <h1>Membresía</h1>
    </div>
    <div class="nuuk-content">
      <div class="d-flex justify-content-end w-100 mb-3">
        <router-link class="btn btn-outline-success" to="/membresias/new">
          <p>
            <i class="material-icons">add</i>&nbsp;Nueva Membresía
          </p>
        </router-link>
      </div>
      <div class="d-flex justify-content-start w-100">
        <b-form-input
          v-model="filter"
          type="search"
          placeholder="Ingresa un término de búsqueda..."
          class="my-3"
        ></b-form-input>
      </div>
      <b-table class="nuuk-table" :sortable="true" :items="items" :fields="fields" :filter="filter" :busy="isBusy">
        <template v-slot:cell(precio)="data">
          <span>${{data.value}} MXN</span>
        </template>
        <template v-slot:cell(edit)="data">
          <span>
            <span>
                <router-link :to="data.value"><i class="material-icons">edit</i></router-link>
            </span> 
          </span>
        </template>
        <template v-slot:cell(delete)="data">
          <span>
            <a @click="delete_membership(data.item.id)" class="text-danger">
              <i class="material-icons">delete</i>
            </a>
          </span>
        </template>
      </b-table>
      <div></div>
    </div>
  </div>
</template>

<script>
import JQuery from "jquery";
let $ = JQuery;
export default {
  data() {

    return {
      filter: null,
      isBusy: false,
      fields: [
        {
          key: "id",
          sortable: true,
          label: "ID"
        },
        {
          key: "nombre",
          sortable: true,
          label: "Nombre"
        },
        {
          key: "descripcion",
          sortable: true,
          label: "Descripción"
        },
        {
          key: "precio",
          sortable: true,
          label: "Precio/mes"
        },
        {
          key: "edit",
          label: "Editar"
        },
        {
          key: "delete",
          label: "Borrar"
        }
      ],
      items: []
    };
  },
  methods: {
    loadMemberships() {
      this.isBusy = true;
      let el = this;
      let authToken = sessionStorage.getItem("auth_token");
      $.post("/api/actions/get_memberships.php", {
        auth_token: authToken
      }, data => {
        if (data == "An error occurred") {
          alert("Ha ocurrido un error cargando membresías");
        } else {
          el.items = JSON.parse(data).data || [];
          let i;
          for (i in el.items) {
            el.items[i].edit = "/editar_membresia/" + el.items[i].id;
          }
        }
      });
      this.isBusy = false;
    },
    delete_membership(id_to_del) {
      let el = this;
      let authToken = sessionStorage.getItem("auth_token");
      $.post("/api/actions/delete_membership.php", {
        id: id_to_del, auth_token: authToken
      }, data => {
        if (data == "Connection error") {
          alert("Ha ocurrido un error de conexión");
        } else if (data == "Error") {
          alert("Ha ocurrido un error de query");
        } else {
          alert("La membresía ha sido eliminada exitosamente");
          this.loadMemberships();
        }
      });
    }
  },
  mounted() {
    this.loadMemberships();
  },
};
</script>

<style lang="scss">
@import "../assets/css/main.scss";
</style>
