<template>
  <div class="nuuk-view">
    <div class="nuuk-header">
      <h1>Historial de pago de productos</h1>
    </div>

    <!--Barra de busqueda-->
    <div class="d-flex justify-content-start w-100">
      <b-form-input
        v-model="filter"
        type="search"
        placeholder="Ingresa un término de búsqueda..."
        class="my-3"
      ></b-form-input>
      <!-- <i class="material-icons lupa">search</i> -->
    </div>

    <!--Tabla de Registro-->
    <div class="nuuk-content">
      <b-table class="nuuk-table" :sortable="true" :items="items" :fields="fields" :filter="filter">
        <template v-slot:cell(title)="data">
          <span>
            <h1>{{data.value}}</h1>
          </span>
        </template>
      </b-table>
      <div></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      filter: null,
      fields: [
        {
          key: "fecha",
          sortable: true,
          label: "Fecha"
        },
        {
          key: "nombreCLiente",
          sortable: true,
          label: "Nombre Del Cliente"
        },
        {
          key: "producto",
          sortable: true,
          label: "Producto"
        },
        {
          key: "monto",
          sortable: true,
          label: "Monto"
        },
        {
          key: "formaPago",
          sortable: true,
          label: "Forma De Pago"
        }
      ],
      items: [
        {
          fecha: "15/08/2019",
          nombreCLiente: "Fernando",
          producto: "Plyera",
          monto: "$300",
          formaPago: "Efectivo"
        },
        {
          fecha: "31/03/2019",
          nombreCLiente: "Juan",
          producto: "Gorra",
          monto: "$150",
          formaPago: "Tarjeta"
        }
      ]
    };
  }
};
</script>

<style lang="scss">
@import "../assets/css/main.scss";

.nuuk-search {
  padding-top: 20px;
  width: 30%;
}

.nuuk-search input[type="text"]:focus:not([readonly]) {
  border: 1px solid #525353;
  box-shadow: 0 0 0 1px #525353;
}
.lupa {
  padding-top: 25px;
}
</style>