<template>
    <div class="nuuk-main_container">
        <header>
            <h1>Esquemas de pago</h1>
            <router-link to="/crear_esquema_pago" class="sidebar-link">
                <b-button variant="outline-success">+Añadir</b-button>
            </router-link>
        </header>
        <div class="nuuk-display_table">
            <!--<div class="nuuk-top_options">
                <h5 class="nuuk-option">0 Seleccionados</h5>
                <h5>|</h5>
                <h5 class="nuuk-option">Deseleccionar todos</h5>
                <h5>|</h5>
                <h5 class="nuuk-option">Eliminar selección</h5>
            </div>-->
            <b-form-input v-model="text" placeholder="Filtrar por búsqueda"></b-form-input>
            
            <b-table striped hover :sortable="true" :items="items" :fields="fields">
                <template v-slot:cell(esquema)="data">
                    <span style="color: blue">
                        <a href="#" v-b-modal.modal-1>{{ data.value }}</a>
                    </span> 
                </template>
                <template v-slot:cell(editar)="data">
                    <span>
                        <a :href="data.value"><i class="material-icons">editar</i></a>
                    </span> 
                </template>
                <template v-slot:cell(eliminar)="data">
                    <span>
                        <a :href="data.value" class="text-danger"><i class="material-icons">delete</i></a>
                    </span> 
                </template>
            </b-table>
        </div> 

        <b-modal id="modal-1" title="Nombre del Esquema" hide-footer>
            <strong>Precio: </strong>$$$<br>
            <strong>Descripción: </strong>blablablablablablablablabla<br>
            <strong>Vigencia: </strong>N Meses<br>
            <strong>Descuento: </strong>n%<br><br>
            <div class="nuuk-modal1-footer">
                <b-button variant="outline-danger">Eliminar</b-button>
                <b-button variant="outline-primary">Editar</b-button>
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
  data() {
    return {
        fields: [
        {
          key: 'esquema',
          sortable: true,
          label: "Esquema"
        }, {
          key: 'precio',
          sortable: true
        }, {
            key: 'editar',
            sortable: false,
        }, {
            key: 'eliminar',
            sortable: false,
        }
      ],
      
      items: [
          { 
              esquema: "mensual", 
              precio: 1200,
              editar: "https://example.com/productos/1/edit/",
              eliminar: "https://example.com/productos/1/delete/"
          }, { 
              esquema: "semestral", 
              precio: 6400,
              editar: "https://example.com/productos/1/edit/",
              eliminar: "https://example.com/productos/1/delete/"
          }, { 
              esquema: "anual", 
              precio: 12000,
              editar: "https://example.com/productos/1/edit/",
              eliminar: "https://example.com/productos/1/delete/"
          }
      ]
    }
  }
}
</script>

<style lang="scss">
    @import '../assets/css/main.scss';
    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
    }
    .nuuk-main_container{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .nuuk-top_options {
        display: flex;
    }
    .nuuk-option {
        color: blue;
        margin-left: 3px;
        margin-right: 3px;
        text-decoration: underline;
    }
    .nuuk-modal1-footer {
        display: flex;
        justify-content: space-between;
    }
</style>
