<template>
  <div class="nuuk-view">
    <div class="nuuk-header">
        <h1>Productos</h1>
    </div>
    <div class="nuuk-content">
        <div class="d-flex justify-content-end w-100 mb-3">
            <b-button variant="outline-success" to="/crear_producto/">
                <p>
                    <i class="material-icons">add</i>&nbsp;Nuevo Producto
                </p>
            </b-button>
        </div>
        <b-table 
            class="nuuk-table"
            :sortable="true"
            :items="items"
            :fields="fields"
            :busy="isBusy"
        >
            <template v-slot:cell(foto)="data">
                <span>
                    <img :id="data.value" :src="data.value" class="nuuk-table-image-thumbnail"/>
                    <b-tooltip 
                    boundary="window"
                    custom-class="nuuk-table-image-tooltip" :target="data.value" triggers="hover"
                    placement="right"
                    >
                        <img class="nuuk-table-image" :src="data.value"/>
                    </b-tooltip>
                </span>
            </template>
            <template v-slot:cell(precio)="data">
                <span>
                    <label>{{moneyFormat(data.value)}}</label>
                </span>
            </template>
            <template v-slot:cell(edit)="data">
                <span>
                    <router-link :to="data.value"><i class="material-icons">edit</i></router-link>
                </span> 
            </template>
            <template v-slot:cell(delete)="data">
                <span>
                    <a href="#" class="text-danger" v-on:click="deleteProduct(data.value)"><i class="material-icons">delete</i></a>
                </span> 
            </template>
            <template v-slot:table-busy>
                <div class="text-center text-secondary mt-5">
                    <b-spinner class="align-middle"></b-spinner>
                </div>
            </template>
        </b-table>
        <div>
        </div>
    </div>
  </div>
</template>

<script>
import JQuery from  'jquery';
let $ = JQuery;
export default {
    data (){
        return {
            isBusy: false,
            fields: [
                {
                    key: "foto",
                    label: "Imagen"
                },{
                    key: "nombre",
                    sortable: true,
                    label: "Nombre"
                },{
                    key: "sexo",
                    sortable: true,
                    label: "Sexo"
                },{
                    key: "talla",
                    sortable: true,
                    label: "Talla"
                },{
                    key: "cantidad",
                    sortable: true,
                    label: "Cantidad"
                },{
                    key: "precio",
                    sortable: true,
                    label: "Precio"
                },{
                    key: "edit",
                    label: "Editar",
                },{
                    key: "delete",
                    label: "Borrar",
                } 
            ],
            items: []
        }
    },
    methods: {
        authenticate(){
            this.auth_token = sessionStorage.getItem("auth_token");
        },
        moneyFormat(number) {
            const money = '$'+(parseFloat(number)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            return money
        },
        fetchProducts() {
            this.isBusy = true;
            let el = this;
            $.post('/api/actions/get_products.php',
                {
                    'auth_token': el.auth_token
                },
                (data) => {
                    el.items = JSON.parse(data) || [];
                    let i;
                    for (i in el.items) {
                        el.items[i].foto = el.items[i].foto ? 
                            require("../assets/img/products/"+el.items[i].foto) :
                            require("../assets/img/placeholder.jpg");
                        el.items[i].edit = "/editar_producto/" + el.items[i].id;
                        el.items[i].delete = el.items[i].id;
                    }
                    el.isBusy = false;
                }
            )
            .fail(function(response) {
                alert("Error: " + response.responseText);
            });
        },
        deleteProduct(id) {
            let el = this;
            $.post('/api/actions/delete_product.php',
                {
                    'auth_token': el.auth_token,
                    'id_product': id
                }
            )
            .then(function() {
                alert("Producto eliminado exitosamente.");
                el.fetchProducts();
            })
            .fail(function(response) {
                alert("Error: " + response.responseText);
            });
        }
    },
    beforeMount(){
        this.authenticate();
    },
    mounted(){
        this.fetchProducts();
    }
}
</script>

<style lang="scss">
    @import '../assets/css/main.scss';
</style>
