<template>
    <div-nuuk-view>
        <div class="nuuk-content">
            <div class="row">
                <div class="col-4">
                    <img src="" alt="">
                </div>
                <div class="col-8">

                </div>
            </div>
        </div>
    </div-nuuk-view>
</template>