<template>
  <div class="nuuk-view">
    <b-alert
      v-for="alert in alerts"
      show
      dismissible
      :key="alert.id"
      :variant="alert.variant"
    >{{alert.content}}</b-alert>
    <div class="nuuk-header">
      <h1>{{typeOfUser.plural}}</h1>
    </div>
    <div class="nuuk-content">
      <div class="d-flex justify-content-end w-100 mb-3">
        <router-link class="btn btn-outline-success" :to="typeOfUser.add_url">
          <p>
            <i class="material-icons">add</i>
            &nbsp;Nuevo {{typeOfUser.singular}}
          </p>
        </router-link>
      </div>
      <div class="d-flex justify-content-start w-100">
        <b-form-input
          v-model="filter"
          type="search"
          placeholder="Ingresa un término de búsqueda..."
          class="my-3"
        ></b-form-input>
      </div>
      <b-table
        class="nuuk-table"
        :sortable="true"
        :items="items"
        :fields="fields"
        :filter="filter"
        :busy="loadingClients"
      >
        <template v-slot:table-busy>
          <div class="text-center text-secondary mt-5">
            <b-spinner class="align-middle"></b-spinner>
          </div>
        </template>
        <template v-slot:cell(nombre)="data">
          <a
            href="javascript:void(0)"
            @click="showUserDetail(data)"
          >{{data.item.nombre}}&nbsp;{{data.item.apellido}}</a>
        </template>
        <template v-slot:cell(tipo)="data">{{tipos[data.item.tipo]}}</template>
        <template v-slot:cell(edit)="data">
          <span>
            <a :href="data.value">
              <i class="material-icons">edit</i>
            </a>
          </span>
        </template>
        <template v-slot:cell(delete)="data">
          <span>
            <a @click="deleteUser" :href="data.value" class="text-danger">
              <i class="material-icons">delete</i>
            </a>
          </span>
        </template>
      </b-table>
      <b-modal id="userDelete" ref="userDelete">
        <template v-slot:modal-title>¡Atención!</template>
        <p>Está por borrar este usuario. Por favor confirme que esto es lo que desea hacer.</p>
        <template v-slot:modal-footer>
          <a
            @click="deleteUserConfirm"
            href="#"
            class="col-12 col-md-4 d-flex justify-content-center align-content-center btn btn-outline-danger"
          >Confirmar</a>
        </template>
      </b-modal>
      <b-modal id="userDetail" ref="userDetail">
        <template
          v-slot:modal-title
        >{{user_detail.id}} - {{user_detail.nombre}} {{user_detail.apellido}}</template>
        <div v-if="user_detail.tipo === 'Empleado'" class="nuuk-client-detail">
          <div class="row no-gutters">
            <div class="row col-12 col-md-6">
              <div class="col-12">
                <strong>Nombre</strong>
                <p>{{user_detail.nombre}} {{user_detail.apellido}}</p>
              </div>
              <div class="col-12">
                <strong>Correo</strong>
                <p>{{user_detail.email}}</p>
              </div>
              <div class="col-12">
                <strong>Tipo</strong>
                <p>{{tipos[user_detail.tipo]}}</p>
              </div>
              <div class="col-12">
                <strong>Teléfono</strong>
                <p>{{user_detail.telefono}}</p>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <b-table
                bordered
                striped
                head-variant="dark"
                class="text-center"
                :items="user_detail.roles"
              ></b-table>
            </div>
          </div>
        </div>
        <div v-else class="nuuk-client-detail">
          <div class="row">
            <div class="col-12 col-md-6">
              <strong>Nombre</strong>
              <p>{{user_detail.nombre}} {{user_detail.apellido}}</p>
            </div>
            <div class="col-12 col-md-6">
              <strong>Membresía</strong>
              <p>{{user_detail.membresia}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <strong>Correo</strong>
              <p>{{user_detail.email}}</p>
            </div>
            <div class="col-12 col-md-6">
              <strong>Teléfonos</strong>
              <p>{{user_detail.telefono}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <strong>Tipo</strong>
              <p>{{tipos[user_detail.tipo]}}</p>
            </div>
          </div>
        </div>
        <template v-slot:modal-footer>
          <div class="row no-gutters w-100" v-if="user_detail.tipo === 'Empleado'">
            <div class="row col-12 d-flex no-gutters justify-content-between">
              <a
                @click="deleteUser"
                :href="user_detail.delete"
                class="col-12 my-2 md-my-0 col-md-1 d-flex justify-content-center align-content-center btn btn-outline-danger"
              >
                <i class="material-icons">delete</i>
              </a>
              <a
                :href="user_detail.edit"
                class="col-12 my-2 md-my-0 col-md-4 d-flex justify-content-center align-content-center btn btn-outline-primary"
              >Editar</a>
              <b-link
                href="javascript:void(0)"
                v-b-modal="'reset_password_modal'"
                class="col-12 col-md-6 d-flex justify-content-center align-content-center btn btn-outline-secondary"
              >Reestablecer contraseña</b-link>
            </div>
          </div>
          <div v-else class="row no-gutters w-100">
            <div class="row col-12 d-flex no-gutters justify-content-between">
              <a
                @click="deleteUser"
                :href="user_detail.delete"
                class="col-12 my-2 md-my-0 col-md-4 d-flex justify-content-center align-content-center btn btn-outline-danger"
              >Eliminar</a>
              <a
                :href="user_detail.edit"
                class="col-12 my-2 md-my-0 col-md-4 d-flex justify-content-center align-content-center btn btn-outline-primary"
              >Editar</a>
            </div>
          </div>
        </template>
      </b-modal>
      <b-modal id="reset_password_modal" hide-footer title="Reestablecer contraseña">
        <div class="row">
          <div class="col-12">
            <label>Nueva contraseña</label>
            <input class="form-control" type="password" />
          </div>
          <div class="col-12">
            <label>Confirmar contraseña</label>
            <input class="form-control" type="password" />
          </div>
        </div>
      </b-modal>
    </div>
  </div>
</template>
<script>
import JQuery from "jquery";
let $ = JQuery;
export default {
  data() {
    return {
      loadingClients: true,
      tipos: ["Empleado", "Prospecto", "Inscrito", "Inactivo"],
      curr_delete_link: "",
      user_detail: {},
      filter: null,
      fields: [
        {
          key: "id",
          sortable: true,
          label: "ID"
        },
        {
          key: "nombre",
          sortable: true,
          label: "Nombre"
        },
        {
          key: "tipo",
          sortable: true,
          label: "Tipo"
        },
        {
          key: "edit",
          label: "Editar"
        },
        {
          key: "delete",
          label: "Borrar"
        }
      ],
      items: [
        // {
        //   id: 1,
        //   nombre: "Jonathan",
        //   apellido: "Buret",
        //   email: "jburet@gmail.com",
        //   membresia: "Completa",
        //   telefono: "(809) 718 2644",
        //   tipo: "Empleado",
        //   roles: [{ rol: "Administrador" }, { rol: "Empleado" }],
        //   edit: `https://example.com/usuarios/1/edit/`,
        //   delete: `https://example.com/usuarios/1/delete/`
        // },
        // {
        //   id: 2,
        //   nombre: "Antonio",
        //   apellido: "Batlle",
        //   email: "abatlle@gmail.com",
        //   membresia: "Básica",
        //   telefono: "(809) 112 3385",
        //   tipo: "Cliente",
        //   edit: `https://example.com/usuarios/2/edit/`,
        //   delete: `https://example.com/usuarios/2/delete/`
        // }
      ],
      alerts: []
    };
  },
  mounted() {
    this.$nextTick(function() {
      this.loadClients();
    });
  },
  methods: {
    showUserDetail: function(data) {
      this.user_detail = data.item;
      this.$refs["userDetail"].show();
    },
    deleteUser: function(ev) {
      ev.preventDefault();
      let item = ev.target;
      let href = $(item).attr("href");
      if (!href) {
        item = $(item).parents("a")[0];
        href = $(item).attr("href");
      }
      this.$refs["userDelete"].show();
      this.curr_delete_link = href;
    },
    deleteUserConfirm: function(ev) {
      ev.preventDefault();
      let component = this;
      $.post(
        component.curr_delete_link,
        {
          auth_token: sessionStorage.getItem("auth_token")
        },
        function() {
          component.loadClients();
        }
      );
      this.$refs["userDelete"].hide();
      this.$refs["userDetail"].hide();
    },
    loadClients: function() {
      this.loadingClients = true;
      let component = this;
      $.post("/api/actions/get_clients.php", {
        auth_token: sessionStorage.getItem("auth_token")
      })
        .done(data => {
          let items = JSON.parse(data).data;
          switch (this.$route.params.tipo) {
            case "prospectos":
              items = $(items)
                .filter(function(index) {
                  return this.tipo == 1;
                })
                .toArray();
              break;
            case "clientes":
              items = $(items)
                .filter(function(index) {
                  return this.tipo >= 2;
                })
                .toArray();
              break;
            case "inscritos":
              items = $(items)
                .filter(function(index) {
                  return this.tipo == 2;
                })
                .toArray();
              break;
            case "empleados":
              items = $(items)
                .filter(function(index) {
                  return this.tipo == 0;
                })
                .toArray();
              break;
          }

          component.items = items;
          component.loadingClients = false;
        })
        .fail(err => {
          let response = JSON.parse(err.responseText);
          component.alerts.push({
            id: Date.now(),
            variant: "danger",
            content: response.message
          });
        });
    }
  },
  watch: {
    $route(to, from) {
      this.loadClients();
    }
  },
  computed: {
    typeOfUser: function() {
      switch (this.$route.params.tipo) {
        case "prospectos":
          return {
            singular: "Prospecto",
            plural: "Prospectos",
            add_url: "/agregar_prospecto/"
          };
        case "empleados":
          return {
            singular: "Empleado",
            plural: "Empleados",
            add_url: "/crearEmpleado/"
          };
        case "clientes":
        case "inscritos":
          return {
            singular: "Inscrito",
            plural: "Inscritos",
            add_url: "/agregar_prospecto/"
          };
      }
    }
  }
};
</script>

<style lang="scss">
@import "../assets/css/main.scss";
</style>
