<template>
    <div class="nuuk-view">
        <div class="nuuk-header">
            <h1>Pasar Lista</h1>
        </div>
        <div class="datepicker-container">
            <div class="d-flex justify-content-start align-items-center">
                <i class="material-icons">search</i>
                <b-form-input
                v-model="filter"
                type="search"
                placeholder="Buscar cliente..."
                class="ml-1 my-4 name-input"
                ></b-form-input>
            </div>
            
            <div class="d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center">
                    <h5 class="mr-2 mb-0">Día:</h5>
                    <v-date-picker
                        class="mr-3 mb-0 no-transition"
                        mode="single"
                        tint-color="SteelBlue"
                        v-model="selectedDate"
                        show-caps
                    />
                </div>
                <h5 class="mr-2 mb-0 text-center">Hora del Entrenamiento:</h5>
                <b-form-select v-model="selectedTime" class="mb-0 control-horario">
                    <option v-for="hour in workout_hours" :key="hour.time" :value="hour.time">{{hour.label}}</option>
                </b-form-select>
                <b-button class="ml-4" v-on:click="fetchLists">Filtrar</b-button>
            </div>
        </div>
        
        <div class="d-flex">
            <div>
                <h5 class="ml-1 mb-3">Lista de Clientes</h5>
                <div class="table-container mr-2">
                    <b-table
                    ref="clients_table"
                    :busy="isBusyClients"
                    fixed
                    selectable
                    select-mode="single"
                    selected-variant="active"
                    borderless
                    hover
                    no-provider-sorting
                    no-provider-filtering
                    :items="listed_clients"
                    :fields="fields" 
                    :filter="filter"
                    @row-selected="moveToAtendees">
                        <template v-slot:table-busy>
                            <div class="text-center text-secondary mt-5">
                                <b-spinner class="align-middle"></b-spinner>
                            </div>
                        </template>

                        <template v-slot:cell(estado)="data">
                            <span>
                                <label v-if="data.value === '1'">Activo</label>
                                <label v-else>Inactivo</label>
                            </span>
                        </template>

                    </b-table>
                </div>
                <p class="ml-2 mt-1">Total: {{listed_clients.length}}</p>
            </div>
            <div>
                <h5 class="ml-2 mb-3">Clientes Presentes</h5>
                <div class="table-container ml-2">
                    <b-table
                    ref="attendees_table"
                    :busy="isBusyAttendees"
                    fixed
                    selectable
                    select-mode="single"
                    selected-variant="active"
                    borderless
                    hover
                    no-provider-sorting	
                    :items="attendees"
                    :fields="fields"
                    @row-selected="moveToClients">
                        <template v-slot:table-busy>
                            <div class="text-center text-secondary mt-5">
                                <b-spinner class="align-middle"></b-spinner>
                            </div>
                        </template>

                        <template v-slot:cell(estado)="data">
                            <span>
                                <label v-if="data.value === '1'">Activo</label>
                                <label v-else>Inactivo</label>
                            </span>
                        </template>

                    </b-table>
                </div>
                <p class="ml-3 mt-1">Total: {{attendees.length}}</p>
            </div>
        </div>
    </div>
</template>

<script>
import JQuery from 'jquery';
let $ = JQuery;
export default {
    data() {
        return {
            auth_token: null,
            filter: null,
            isBusyClients: false,
            isBusyAttendees: false,
            selectedDate: new Date(),
            selectedTime: null,
            time: new Date(),
            fields: [
                {
                    key: "nombre",
                    sortable: "true",
                    label: "Nombre"
                },
                {
                    key: "apellido",
                    sortable: "true",
                    label: "Apellido"
                },
                {
                    key: "estado",
                    sortable: "true",
                    label: "Estado"
                }
            ],
            test_var: null,
            clients: [],
            listed_clients: [],
            excluded_clients: [],
            attendees: [],
            new_attendees: [],
            deleted_attendees_ids: [],
            insertion_timeout: null,
            deletion_timeout: null,
            id_to_remove: null, // Auxiliar para prototipo sin conexión a la base de datos
            workout_hours: [
                {
                    label: '6:00 am',
                    time: '6:00:00'
                },
                {
                    label: '7:00 am',
                    time: '7:00:00'
                },
                {
                    label: '8:00 am',
                    time: '8:00:00'
                },
                {
                    label: '9:00 am',
                    time: '9:00:00'
                },
                {
                    label: '10:00 am',
                    time: '10:00:00'
                },
                {
                    label: '11:00 am',
                    time: '11:00:00'
                },
                {
                    label: '12:00 pm',
                    time: '12:00:00'
                },
                {
                    label: '1:00 pm',
                    time: '13:00:00'
                },
                {
                    label: '2:00 pm',
                    time: '14:00:00'
                },
                {
                    label: '3:00 pm',
                    time: '15:00:00'
                },
                {
                    label: '4:00 pm',
                    time: '16:00:00'
                },
                {
                    label: '5:00 pm',
                    time: '17:00:00'
                },
                {
                    label: '6:00 pm',
                    time: '18:00:00'
                },
                {
                    label: '7:00 pm',
                    time: '19:00:00'
                },
                {
                    label: '8:00 pm',
                    time: '20:00:00'
                },
                {
                    label: '9:00 pm',
                    time: '21:00:00'
                }
            ]
        }
    },
    methods: {
        authenticate(){
            this.auth_token = sessionStorage.getItem("auth_token");
        },
        calculateClosestHour() {
            const today = new Date();
            const hour = today.getHours();
            const selected_hour = hour > 21 ? 21 : hour;
            return selected_hour + ':00:00'
        },
        filter_members(original, to_exclude){
            let to_exclude_ids = []
            for (var i = 0; i < to_exclude.length; i++) {
                to_exclude_ids.push(to_exclude[i].id)
            };
            original = original.filter(el => !to_exclude_ids.includes(el.id));
            return original;
        },
        filter_member_ids(original, to_exclude){
            let to_exclude_ids = []
            for (var i = 0; i < to_exclude.length; i++) {
                to_exclude_ids.push(to_exclude[i].id)
            };
            original = original.filter(el => !to_exclude_ids.includes(el));
            return original;
        },
        moveToAtendees(items) {
        // 1 - Add new client to local attendees array.
        // 2 - Exclude client from local clients.
        // 3 - Add new client to new_attendees so it can be inserted.
        // 4 - Refresh insertAttendees timer.
        // 5 - Refresh both tables.

            if (items.length > 0) {
                //1
                this.attendees.unshift(items[0]);

                //2
                this.excluded_clients.push(items[0].id);
                this.listed_clients = this.clients.filter(el => !this.excluded_clients.includes(el.id))

                //3
                this.new_attendees.push(items[0]);

                //4
                if(this.insertion_timeout) {window.clearTimeout(this.insertion_timeout)};
                this.insertion_timeout = window.setTimeout(this.insertAttendees, 2000);

                //5
                this.$refs.clients_table.refresh();
                this.$refs.attendees_table.refresh();
            }
        },
        moveToClients(items) {
        // 1 - Re-include excluded client in local clients array.
        // 2 - Remove attendee from local attendees array.
        // 3 - Add deleted attendee to deleted_attendees so it can be deleted.
        // 4 - Refresh deleteAttendees timer.
        // 5 - Refresh both tables.

            if (items.length > 0) {

                //1
                this.excluded_clients = this.excluded_clients.filter(el => el != items[0].id);
                this.listed_clients = this.clients.filter(el => !this.excluded_clients.includes(el.id));

                //2
                this.attendees = this.attendees.filter(el => el.id != items[0].id);

                //3
                this.deleted_attendees_ids.push(items[0]);
                
                //4
                if(this.deletion_timeout) {window.clearTimeout(this.deletion_timeout)};
                this.deletion_timeout = window.setTimeout(this.deleteAttendees, 2000);

                //5
                this.$refs.clients_table.refresh();
                this.$refs.attendees_table.refresh();
            }
        },
        insertAttendees() {
            let el = this;
            const to_insert = this.new_attendees;
            this.new_attendees = [];
            const date = this.selectedDate.toISOString().slice(0,10);
            const time = this.selectedTime;
            console.log(to_insert);
            $.post('/api/actions/bulk_insert_attendees.php',
                {
                    'auth_token': el.auth_token,
                    'date': date,
                    'time': time,
                    'clients': JSON.stringify(to_insert)
                }
            ).fail(function(response) {
                console.log(response.responseText);
                const status = response.status;
                if (status != 201) {
                    alert('Error: ' + response.responseText);

                    el.attendees = el.filter_members(el.attendees, to_insert)

                    // Re-introduce the excluded clients to the
                    // local clients array.
                    el.excluded_clients = el.filter_member_ids(el.excluded_clients, to_insert);
                    el.listed_clients = el.clients.filter(elmt => !el.excluded_clients.includes(elmt.id));

                    el.$refs.clients_table.refresh();
                    el.$refs.attendees_table.refresh();
                }
            });
        },
        deleteAttendees() {
            let el = this;
            const to_delete = this.deleted_attendees_ids;
            const ids_to_delete = to_delete.map(el => el.id);
            this.deleted_attendees_ids = [];
            const date = this.selectedDate ? this.selectedDate.toISOString().slice(0,10) : "";
            const time = this.selectedTime;

            $.post('/api/actions/bulk_delete_attendees.php', 
                {   
                    'auth_token': el.auth_token,
                    'date': date,
                    'time': time,
                    'clients': JSON.stringify(ids_to_delete)
                }
            ).fail(function(response) {
                const status = response.status;
                if (status != 200) {
                    alert('Error: ' + response.responseText);
                    //If the deletion wasn't successful, re-insert the attendees to the local atendees list and re-exclude the clients from the listed clients list.
                    el.attendees = el.attendees.concat(to_delete);

                    let attendee;
                    for(attendee in to_delete){
                        el.excluded_clients.push(attendee.id)
                    };

                    el.listed_clients = el.clients.filter(elmt => !el.excluded_clients.includes(elmt.id));

                    el.$refs.clients_table.refresh();
                    el.$refs.attendees_table.refresh();
                }
            });
        },
        fetchLists() {
            this.isBusyClients = true;
            this.isBusyAttendees = true;
            let el = this;
            const date = this.selectedDate ? this.selectedDate.toISOString().slice(0,10) : "";
            const time = this.selectedTime;

          $.post('/api/actions/get_clients.php', {
            auth_token: sessionStorage.getItem("auth_token")
          },
                (data) => {
                    el.clients = JSON.parse(data).data;
                }
            ).then(function() {
                $.post('/api/actions/get_attendees.php',
                    {
                        'date': date,
                        'time': time
                    },
                    (data) => {
                        el.test_var = data;
                        el.attendees = JSON.parse(data) || [];

                        el.excluded_clients = el.attendees.map(el => el.id);

                        el.listed_clients = el.clients.filter(elmt => !el.excluded_clients.includes(elmt.id));

                        el.$refs.clients_table.refresh();

                        el.isBusyClients = false;
                        el.isBusyAttendees = false;
                    }
                ).fail(function(response) {
                alert('Error: ' + response.responseText)
                })
            })
        }
    },
    beforeMount(){
        this.authenticate();
    },
    mounted() {
        const now = this.calculateClosestHour();
        this.selectedTime = now;
        
        this.fetchLists();
    }
}
</script>

<style>
    @import '../assets/css/main.scss';
    @import '../assets/css/components/workout_attendance.scss';
</style>
