<template>
  <div class="container-fluid">
    <nav class="sidebar">
      <div class="logo-container">
        <img class="mx-auto d-block" src="../assets/logo2.png" alt id="navy-logo" />
      </div>
      <ul class="sidebar-nav mt-4">
        <li class="mt-3">
          <router-link to="/dashboard" class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">layers</i>
            </span>
            <span class="sidebar-link-label">Dashboard</span>
          </router-link>
        </li>
        <li class="sidebar-subtitle">
          <span class="sidebar-link-sep">
            <i class="material-icons">remove</i>
          </span>
        </li>

        <!--Actions-->
        <li>
          <router-link to="/agregar_prospecto" class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">person_add</i>
            </span>

            <span class="sidebar-link-label">Prospecto</span>
          </router-link>
        </li>
        <li></li>
        <li>
          <a href class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">person_add</i>
            </span>
            <span class="sidebar-link-label">Inscribir</span>
          </a>
        </li>

        <li>
          <router-link to="/pasar_lista" class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">playlist_add_check</i>
            </span>
            <span class="sidebar-link-label">Pasar Lista</span>
          </router-link>
        </li>

        <li>
          <a href class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">payment</i>
            </span>
            <span class="sidebar-link-label">Renovar</span>
          </a>
        </li>

        <li>
          <a href class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">store_front</i>
            </span>

            <span class="sidebar-link-label">Productos</span>
          </a>
        </li>

        <!--End of actions-->

        <!--Details-->

        <li class="sidebar-subtitle">
          <span class="sidebar-link-sep">
            <i class="material-icons">remove</i>
          </span>
        </li>

        <li>
          <router-link to="/reporte_asistencias" class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">fitness_center</i>
            </span>
            <span class="sidebar-link-label">Asistencias</span>
          </router-link>
        </li>

        <!--Dropdown Membresías-->
        <li class="nuuk-dropdown-toggle">
          <a href class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">card_membership</i>
            </span>
            <span class="sidebar-link-label">Membresías</span>
          </a>
          <ul class="nuuk-dropdown-wrapper">
            <li>
              <router-link to="/membresias/new" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">add</i>
                </span>
                <span class="sidebar-link-label">Crear</span>
              </router-link>
            </li>
            <li>
              <router-link to="/membresias" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">build</i>
                </span>
                <span class="sidebar-link-label">Manejar</span>
              </router-link>
            </li>
          </ul>
        </li>
        <!--End Dropdown Membresías-->

        <!--Productos dropdown-->
        <li class="nuuk-dropdown-toggle">
          <a class="sidebar-link" href="#">
            <span class="sidebar-link-icon">
              <i class="material-icons">store_front</i>
            </span>
            <span class="sidebar-link-label">Productos</span>
          </a>
          <ul class="nuuk-dropdown-wrapper">
            <li>
              <router-link to="/crear_producto" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">add</i>
                </span>
                <span class="sidebar-link-label">Crear</span>
              </router-link>
            </li>
            <li>
              <router-link to="/productos" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">build</i>
                </span>
                <span class="sidebar-link-label">Manejar</span>
              </router-link>
            </li>
          </ul>
        </li>
        <!--Termina Productos dropdown-->

        <!--Dropdown Servicios-->
        <li class="nuuk-dropdown-toggle">
          <a href class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">book</i>
            </span>
            <span class="sidebar-link-label">Servicios</span>
          </a>
          <ul class="nuuk-dropdown-wrapper">
            <li>
              <a href class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">add</i>
                </span>
                <span class="sidebar-link-label">Crear</span>
              </a>
            </li>
            <li>
              <router-link to="usuarios/empleados" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">build</i>
                </span>
                <span class="sidebar-link-label">Manejar</span>
              </router-link>
            </li>
          </ul>
        </li>
        <!--End Dropdown Servicios-->

        <!--Dropdown Clientes-->
        <li class="nuuk-dropdown-toggle">
          <a href class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">people</i>
            </span>
            <span class="sidebar-link-label">Clientes</span>
          </a>
          <ul class="nuuk-dropdown-wrapper">
            <li>
              <router-link to="/usuarios/prospectos/" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">emoji_people</i>
                </span>
                <span class="sidebar-link-label">Prospectos</span>
              </router-link>
            </li>
            <li>
              <router-link to="/usuarios/inscritos/" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">assignment_ind</i>
                </span>
                <span class="sidebar-link-label">Inscritos</span>
              </router-link>
            </li>
          </ul>
        </li>
        <!--End Dropdown Clientes-->

        <!--Dropdown Empleado-->
        <li class="nuuk-dropdown-toggle">
          <a href class="sidebar-link">
            <span class="sidebar-link-icon">
              <i class="material-icons">people</i>
            </span>
            <span class="sidebar-link-label">Empleados</span>
          </a>
          <ul class="nuuk-dropdown-wrapper">
            <li>
              <router-link to="/crearEmpleado" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">add</i>
                </span>
                <span class="sidebar-link-label">Crear</span>
              </router-link>
            </li>
            <li>
              <router-link to="/usuarios/empleados" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">build</i>
                </span>
                <span class="sidebar-link-label">Manejar</span>
              </router-link>
            </li>
          </ul>
        </li>
        <!--End Dropdown Empleado-->

        <!--Pagos dropdown-->
        <li class="nuuk-dropdown-toggle">
          <a class="sidebar-link" href="#">
            <span class="sidebar-link-icon">
              <i class="material-icons">attach_money</i>
            </span>
            <span class="sidebar-link-label">Pagos</span>
          </a>
          <ul class="nuuk-dropdown-wrapper">
            <li>
              <router-link to="/esquemas_de_pago" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">emoji_people</i>
                </span>
                <span class="sidebar-link-label">Esquemas</span>
              </router-link>
            </li>

            <li>
              <router-link to="/pagosProductos" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">store_front</i>
                </span>
                <span class="sidebar-link-label">Productos</span>
              </router-link>
            </li>

            <li>
              <router-link to="/crear_vigencia" class="sidebar-link">
                <span class="sidebar-link-icon">
                  <i class="material-icons">assignment_ind</i>
                </span>
                <span class="sidebar-link-label">Vigencias</span>
              </router-link>
            </li>
          </ul>
        </li>
        <!--End Dropdown Pagos-->

        <!--Details-->
      </ul>
    </nav>
    <div id="app-content">
      <router-view :key="$route.fullPath"></router-view>
    </div>
  </div>
</template>

<script>
import JQuery from "jquery";
let $ = JQuery;
export default {
  name: "Sidebar",
  components: {},
  mounted() {
    $(".nuuk-dropdown-toggle .sidebar-link").on("click", e => {
      e.preventDefault();
      let el = e.target;
      if (!$(el).hasClass(".nuuk-dropdown-toggle")) {
        el = $(el).parents(".nuuk-dropdown-toggle");
      }
      $(el).toggleClass("active");
    });
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/css/components/sidebar.scss";
</style>
