<template>
  <div id="app">
    <Sidebar />
  </div>
</template>

<script>
import Sidebar from './components/Sidebar.vue';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import 'bootstrap/dist/css/bootstrap.min.css'

export default {
  
  name: 'app',
  components: {
    Sidebar
  }
}
</script>

<style>

</style>